@charset "UTF-8";


/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body { 
    background-color: #f3f8f4;
    font-family: Arial, Helvetica, sans-serif;
}
    
h1 {
    color: #017c36;
    text-decoration: underline;
}

h1#principal {
    text-align: center;
    color: white;
    background-color: #017c36;
}

h2 {
    color: #658171;
}

.basico {
    color: #658171;
}

.intermediario {
    color: #c9bd17;
}

.avancado {
    color: #ce0b0b;
}

.destaque {
    background-color: #c7c7485d;
}

p {
    text-align: justify;
}
