@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: rgb(90, 89, 89);
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
    padding: 10px;
}

span#burguer {
    display: block;
    background-color: rgb(58, 57, 57);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

span#burguer:hover {
    background-color: gray;
    cursor: pointer;
}


menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li {
    display: block;
    padding: 10px;
    background-color: rgb(58, 57, 57);
    color: white;
    text-decoration: none;
    border-top: 2px solid gray;
    margin: 4px;
    border-radius: 5px;
}

menu > ul > li:hover {
    background-color: gray;
    cursor: pointer;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

article h2 {
    padding: 10px;
    text-align: center;
}

article p {
    padding: 10px;
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}