 @charset 'UTF-8';

 body {
            background-color: rgb(218, 221, 224);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            h1 {
                color: rgb(23, 70, 55);
                background-color: rgb(224, 238, 199);
            }
            h2 {
                color: rgb(82, 18, 48);
            }
            p {
                text-align: justify;
            }
        }