@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kaushan+Script&family=Satisfy&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kaushan+Script&family=Mountains+of+Christmas:wght@400;700&family=Satisfy&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kaushan+Script&family=Mountains+of+Christmas:wght@400;700&family=Rubik+Doodle+Triangles&family=Satisfy&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


body {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    background-color: rgb(21, 43, 43);
    color: #fff;
}

h1 {
    font-family: "Rubik Doodle Triangles", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
}


h2 {
    font-family: "Rubik Doodle Triangles", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}