@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Kaushan+Script&family=Mountains+of+Christmas:wght@400;700&family=Nothing+You+Could+Do&family=Parisienne&family=Passion+One:wght@400;700;900&family=Rubik+Doodle+Triangles&family=Satisfy&family=Sriracha&family=Staatliches&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;

  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
*/
* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  background-color: darkgray;
}

header {
  background-color: black;
  color: white;
  text-align: center;
}

header > h1 {
  padding-top: 50px;
  font-variant: small-caps;
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 55px;
}

header > p{
  padding-bottom: 50px;
}

header a, footer a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

header a, footer a:hover {
  text-decoration: underline;
}

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 30px;
  line-height: 2em;
}

.normal {
  background-color: white;
  color: black;
}

.imagem {
  background-color: rgb(51,51,51);
  color: white;
}

.imagem > p {
  background-color: rgba(0, 0, 0, 0.219);
  width: 400px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}