@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Kaushan+Script&family=Mountains+of+Christmas:wght@400;700&family=Nothing+You+Could+Do&family=Parisienne&family=Passion+One:wght@400;700;900&family=Rubik+Doodle+Triangles&family=Satisfy&family=Sriracha&family=Staatliches&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*
font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;

  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
*/
